In [6]:
#Exercise 11.1

import zoo #zoo.py must be in folder

zoo.hours()

Open 9-5 daily

In [7]:
#Exercise 11.2

import zoo as menagerie

menagerie.hours()

Open 9-5 daily

In [ ]:
#Exercise 16.4
#This exercise isn't required for the assignment, but I needed to complete it to understand the work.
#Running this cell will create and fill out the books database and table. 
#It will cause an error and duplicate entries if the books table already exists.

import sqlite3

#connect to books database
conn = sqlite3.connect('books.db')
c = conn.cursor()

# create books table
c.execute('''CREATE TABLE books
    (title text, author text, year integer)
    ''')

# insert data into books table
c.execute("INSERT INTO books VALUES ('The Weirdstone of Brisingamen', 'Alan Garner', 1960)")
c.execute("INSERT INTO books VALUES ('Perdido Street Station', 'China Mieville', 2000)")
c.execute("INSERT INTO books VALUES ('Thud!', 'Terry Pratchett', 2005)")
c.execute("INSERT INTO books VALUES ('The Spellman Files', 'Lisa Lutz', 2007)")
c.execute("INSERT INTO books VALUES ('Small Gods', 'Terry Pratchett', 1992)")

# commit changes
conn.commit()

# close connection
conn.close()

In [2]:
# Exercise 16.8
# books database must exist to run this code


#import sqlalchemy with sa for an alias
import sqlalchemy as sa

# connect to sqlite database
engine = sa.create_engine('sqlite:///books.db')

# select title column from books table
result = engine.execute('SELECT title FROM books ORDER BY title')

# print titles
for row in result:
   print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)